<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/GPRomero">Gabriel Romero</a>. A student enrolled in the Denver University full-dive coding boot-camp.
  </p>
  <br />
  <p>
    He learned many different coding languages, web design, and how to create and host web apps.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
  </p>
</div>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Gabriel Romero</h2>
    <br />
    <p>
      Gabriel Romero is a web developer and code monkey extrordinare! he previously had no background in coding or computer sciences, however it was always his dream to one day create his own web sites and applications. Now that he is proficient in multiple coding languages he will one day amaze the world with what he can create.
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />